.SignInContainer {
    position: relative;
    user-select: none;
    margin-top: 100px;
    width: 25%;
    height: 40%;
    background: hsla(0, 0%, 85%, 0.789);
    padding: 40px;
    padding-top: 20px;
    padding-bottom: 70px;
    border-radius: 15px;
    align-items: center;
    text-align: center;
    box-shadow: 0px 10px 10px rgb(0, 0, 0);
    z-index:2;
}
.SignInContainer h1{
    font-family: Arial;
    font-weight: 800;
    padding: 0px;
    user-select: none;
    font-size: 25px;
    color: rgb(0, 0, 0);
}
.SignInContainer img{
    padding: 0;
    margin: 0;
}
input {
    border: none;
    margin: 5px;
    width: 80%;
    height: 30px;
    border-radius: 6px;
}
.email:hover::placeholder{
    transform:translateY(-10px);
    opacity: .5;
    transition: .2s ease;
    font-size: smaller;
}
input:focus{
    border: 2px solid rgb(195, 0, 0);
    outline: none;
}
.password:hover::placeholder{
    transform:translateY(-10px);
    opacity: .5;
    transition: .2s ease;
    font-size: smaller;
}
.signInButton {
    margin: 15px;
    margin-bottom: 3px;
    margin-top:20px;
    height: 45px;
    width: 80%px;
    padding: 9px 40px;
    font-size: 18px;
    font-family: 'Segoe UI';
    color: white;
    background: linear-gradient(90deg, #aa0404, #ff1919);
    border: NONE;
    border-radius: 12px;
    cursor: pointer;
}
.signInButton:hover{
    background: linear-gradient(90deg, #ff1919,#aa0404);
}
.signInLinks{
    display: flex;
    justify-content: center;
    width: 100%;
    transform: translateX(-5px);
}
.signInLinks{
    text-decoration: none;
    padding: 0;
    margin: 5px;
    font-family: Arial;
    font-size: 12px;
    color: black;
}
.signInLinks a:hover{
    text-decoration: underline;
    color: #aa0404;
}
.SignInContainer p{
    font-family: Arial;
    font-size: 10px;
    padding: 0%;
    margin: 0px;
    color: #ff1919;
    visibility: hidden;
    opacity: 0;
}



/*Sign Up*/



.SignUpContainer {
    position: relative;
    user-select: none;
    margin-top: 100px;
    width: 25%;
    height: 40%;
    background: hsla(0, 0%, 85%, 0.789);
    padding: 40px;
    padding-top: 20px;
    padding-bottom: 70px;
    border-radius: 15px;
    align-items: center;
    text-align: center;
    box-shadow: 0px 10px 10px rgb(0, 0, 0);
    z-index: 1;
}
.SignUpContainer h1{
    font-family: Arial;
    font-weight: 800;
    padding: 0px;
    user-select: none;
    font-size: 25px;
    color: rgb(0, 0, 0);
}
.SignUpContainer img{
    padding: 0;
    margin: 0;
    
}
.SignUpContainer.input {
    border: none;
    margin: 5px;
    width: 80%;
    height: 30px;
    border-radius: 6px;
}
.newEmail:hover::placeholder{
    transform:translateY(-10px);
    opacity: .5;
    transition: .2s ease;
    font-size: smaller;
}
.SignUpContainer.input:focus{
    border: 2px solid rgb(195, 0, 0);
    outline: none;
}
.newPassword:hover::placeholder{
    transform:translateY(-10px);
    opacity: .5;
    transition: .2s ease;
    font-size: smaller;
}
.signUpButton {
    margin: 15px;
    margin-bottom: 3px;
    margin-top:20px;
    height: 45px;
    width: 80%px;
    padding: 9px 40px;
    font-size: 18px;
    font-family: 'Segoe UI';
    color: white;
    background: linear-gradient(90deg, #aa0404, #ff1919);
    border: NONE;
    border-radius: 12px;
    cursor: pointer;
}
.signUpButton:hover{
    background: linear-gradient(90deg, #ff1919,#aa0404);
}
.signUpLinks{
    display: flex;
    justify-content: center;
    width: 100%;
    transform: translateX(-5px);
}
.signUpLinks a{
    text-decoration: none;
    padding: 0;
    margin: 5px;
    font-family: Arial;
    font-size: 12px;
    color: black;
}
.signUpLinks a:hover{
    text-decoration: underline;
    color: #aa0404;
}
.SignUpContainer p{
    font-family: Arial;
    font-size: 10px;
    padding: 0%;
    margin: 0px;
    color: #ff1919;
    visibility: hidden;
    opacity: 0;
}
body{
    position: relative;
    display: flex;
    justify-content: center; 
    background-image: url(images/fitness_bgnd.jpg);
}

