header {
  margin: 0;
  padding: 0%;
  position: fixed;
  top: 0;
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgb(175, 168, 168);
  border-bottom: 0.1px solid rgb(255, 255, 255);
  box-shadow: 0.5px 0.3px rgb(255, 255, 255);
  justify-content: center;
  user-select: none;
  z-index: 100;
}

li {
  list-style: none;
}

.logo {
  margin-left: 35px;
  background-color: rgba(137, 43, 226, 0);
  display: flex;
  align-items: center;
  width: 270.98px;
}

#logo_img {
  height: 46px;
  width: 170px;
}

.links {
  flex: 1;
  background-color: rgba(255, 0, 0, 0);
  font-size: .7em;
  font-family: Arial;
  font-weight: bolder;
  color: hsl(0, 0%, 0%);
  min-width: 540px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  min-width: 540px;
  justify-content: space-around;
  align-items: center;
}

.link {
  margin: 5px;
  position: relative;
  padding-inline: 3px;
  padding-block: 3px;

}

#logIn_btn {
  width: 80px;
  height: 35px;
  border-radius: 5px;
  font-family: Arial;
  font-size: 1em;
  font-weight: bolder;
  border: 0;
  background-color: hsla(0, 91%, 39%, 0.856);
  color: white;
  margin: 0;
}

#logIn_btn:hover {
  opacity: .7;
}

.profile {
  margin-right: 35px;
  background-color: rgba(0, 255, 255, 0);
  width: auto;
  display: flex;
  align-items: center;
}

.profile input {
  width: 180px;
  height: 25px;
  border-radius: 2px;
  border: 1px solid rgb(210, 210, 210);
}

#avatar_holder {
  width: 39px;
  height: 39px;
  border-radius: 20px;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

#avatar_holder img {
  width: 37px;
  height: 37px;
  border-radius: 20px;
}

.search_button {
  height: 25px;
  width: 25px;
  margin-left: -3px;
  border: 0;
  border-left: 1px solid rgb(182, 102, 102);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 240, 240);
}

.search_button img {
  height: 15px;
}

.search_button:active {
  border: none;
  outline: none;
  background-color: rgb(211, 211, 211);
}

.link::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: hsl(0, 100%, 50%);
  transition: .2s ease-out;
  cursor: auto;
  border-radius: 5px;
}

li:hover {
  cursor: pointer;
}

.link.active::after {
  width: 100%;
}

#nextBTN,
#previousBTN {
  position: fixed;
  width: 25px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.11);
  border-radius: 7px;
}

#previousBTN button {
  font-size: 18px;
  border: none;
  background-color: transparent;
  color: white;
  font-family: Arial;
}

#previousBTN {
  top: 50%;
  left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

#nextBTN button {
  font-size: 18px;
  border: none;
  background-color: transparent;
  color: white;
  font-family: Arial;
}

#nextBTN {
  top: 50%;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}